<figure class="image is-square">
  <img src="<%= album.image_url %>">
</figure>

<h2 class="is-size-5"><%= album.title %></h2>

<blockquote style="margin-bottom: 1rem">
    <%= album.review %>
</blockquote>