<h1 class="title has-text-centered"><%= t(:app_name) %></h1>
<p class="subtitle has-text-centered"><%= t(:tagline) %></p>

<div class="columns">
  <% @albums.each do |album| %>
    <div class="column">
      <%= render "album_front_matter", { album: album } %>

      <%= render "track_listing", { album: album } %>
    </div>
  <% end %>
</div>